table {
    border-collapse: collapse;
    width: 100%;
    overflow-x:auto;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

/* tr:nth-child(even){background-color: #f2f2f2;} */

tr:hover {background-color: #ddd;}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    /* background-color: #b9f7bc; */
    color: black;
    font-size: 130% !important;
    border-bottom: 3px solid black;
}

body {
    height: 100%
}

code {
    font-size: 90%;
    color:black;
}

ol {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.items {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 33%;
  box-sizing: border-box;
  vertical-align: top;
  padding: 0 12px;
  margin: 24px -4px 24px 0;
}

@media (max-width: 600px) {
  .item {
    width: 50%;
  }
}

.item__heading {
  background-color: #d4d0f5;
  padding: 10px;
  text-align: center;
  border: 1px solid #bbbbbb;
}

.item__content {
  flex: 1 1 auto;                   /* IE need 1 1 auto */
  padding: 10px;
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
}

li {
  margin: 5px 0px;
}

/* incomplete todo item */
li.done0 {
    list-style-type: none;
    color:red;
  font-weight: bold;
}

li.done0:before {
  content: '✗';
  color:black;
  font-weight: bold;
}

/* partially done */
li.done1 {
  display:inline;
  color:chocolate;
  font-weight: bold;
}

li.done1:before {
  content: '~';
  font-weight: bold;
  color:black;
}

/* complete */
li.done4 {
    list-style-type: none;
    color:green;
}

li.done4:before {
  content: '✓';
  color:black;
}

.backtotop{
    outline: none;
    text-decoration:none;
    width:40px;
    height:40px;
    color: #0088cc;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
}

.backtotop:hover{
    outline: none;
    text-decoration:none;
    opacity:1.0;
    color: #0088cc;
}

.backtotop:focus{
    outline: none;
    text-decoration:none;
}

.backtotop:visited{
    outline: none;
    text-decoration:none;
    color: #0088cc;
}
